/Lab1/Homework/target/
/Lab2/Compulsory/target/
/Lab1/Homework/JavaApplication1/nbproject/private/
/Lab1/Homework/Homework/nbproject/private/
/Lab1/Homework/Homework/build/
/Lab2/Compulsory/nbproject/private/
/Lab2/Compulsory/build/
/Lab3/Compulsory/nbproject/private/
/Lab3/Compulsory/build/
/Lab2/Homework/Homework/nbproject/private/
/Lab2/Homework/Homework/build/
/Lab3/Homework/nbproject/private/
/Lab3/Homework/build/
/Lab4/Compulsory/target/
/Lab4/Homework/target/
/Lab5/Main/target/
/Lab6/compulsory/target/
/Lab6/lab7/target/
/Lab5/homework/target/
/Lab7/Main/target/
/Lab8/compulsory/target/
/Lab9/compulsory/target/
/Lab8/homework/target/
/Lab9/homework/target/
/Lab10/ServerApplication/target/
/Lab10/ClientApplication/target/
/Lab11/Compulsory/target/
