/Lab1/Homework/target/
/Lab2/Compulsory/target/
/Lab1/Homework/JavaApplication1/nbproject/private/
/Lab1/Homework/Homework/nbproject/private/
/Lab1/Homework/Homework/build/
/Lab2/Compulsory/nbproject/private/
/Lab2/Compulsory/build/
